{% extends "templates/web.html" %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block header %}
<h1>{{ property_name }}</h1>
{% endblock %}

{% block page_content %}
{% from "erpnext/templates/includes/macros.html" import product_image %}

<div class="item-content" style="margin-top:20px;">
	<div class="product-page-content" itemscope itemtype="http://schema.org/Product">
		<div class="row">
			<div class="col-sm-6">
				{% if slideshow %}
					{% include "templates/includes/slideshow.html" %}
				{% else %}
					{{ product_image(property_photo, "product-full-image") }}
				
					<meta property="fb:app_id" content="{{fb_app_id}}"/>
					<meta property="fb:pages" content="{{fb_page_id}}"/>
					<meta property="og:title" content="{{ property_name and property_type }} ">
					<meta property="og:url" content="{{ base_url }}/property-lead?for_property={{ doc.name }}">
					<meta property="og:description"        content="How long?" />
					<meta property="og:image"  content="{{image_0_html}}"/>
					<meta property="og:image:width"           content="1024">
					<meta property="og:image:height"           content="768">
				
				{% endif %}
			</div>
			<div class="col-sm-6" style="padding-left:20px;">
				 <h2 itemprop="name" style="margin-top: 0px;">{{ property_name }}</h2>

				<p class="text-muted">
					{{ _("Description") }}: <span itemprop="productID">{{ property_type and  country }}</span></p>
				<br>
				</p>
			</div>
		</div>
	</div>
<p style='margin-top: 30px'>
	<a class='btn btn-primary'
	href='/property-lead?for_property={{ doc.name }}'>
	{{ _("Inquiry Now") }}</a>
</p>
</div>
{% endblock %}
